:root{
    --background-color1:#ffe599;
    --text-color:#434343;
    --text-color-sub:#999999;
    --accent-color:#ff00ff;
    --distarbing-color:#4a86e8;
    --magenta-shadow:hsl(300deg, 70%, 50%, 80%);
}
*{
    margin:0;
    font-family: sans-serif;
}
html, body{
    background-color: var(--background-color1);
}
strong{
    color:red;
    font-weight: 400;
}
.spacer{
    height:600px;
}
#page1{
    position:relative;
    width:100vw;
    height:100svh;
}
#wraper_1{
    position: absolute;
    top:0;
    display: flex;
    justify-content: space-between;
    z-index:1;
    width:96%;
}
h1{
    font-size: 120%;
}
#head_nowSaledNumber{
    color:var(--text-color-sub);
    font-size: 1.2rem;
    font-weight: 400;
}
#salesNumberDisplayContainer{
    position: relative;
    font-size: 2.4rem;
    width:4.5em;
    height: 2em;
    background-color: white;
    display: flex;
    flex-direction: row;
}
#salesNumberDisplay{
    position:relative;
    white-space: pre;
    font-size: 3rem;
    font-weight: 900;
    color:var(--text-color-sub);
}
#salesNumberDisplay_unit{
    font-size: 3rem;
    color:magenta;
}
#PR1{
    font-family: "DotGothic16", sans-serif;
    font-size: 1.2rem;
}
#catchCopy{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: serif;
    color:var(--text-color);
    filter: drop-shadow(2px 15px 2px var(--magenta-shadow));
}
#buttons{
    display: flex;
    flex-direction: column;
}
/* ボタン */
button{
    font-family: serif;
    font-size: 1.2rem;
    border-radius: 25%;
    background-color: #f3f3f3;
    border-color: #434343;
    color:black;
}
#Button_menu{
    text-align: left;
    padding:10px;
    border:2px dashed;
}
#Button_allergen{
    position: relative;
    left:10px;
    text-align: left;
    padding:10px;
    border:2px solid ;
}
#Button_costPrice{
    margin:10px;
    text-align: left;
    padding:10px;
    border:2px dashed;
}
#Button_quiz{
    border:4px solid blue;
    font-weight: bolder;
    font-family: "Yomogi", cursive;
    color: yellow;
    border-color: blue;
    background-color: magenta;
    text-align: left;
}
#wraper_2{
    position:absolute;
    bottom: 0;
    z-index:0;
}
#image_img{
    width:75vw;
    aspect-ratio: 4 / 3;
}
#link_toPortal{
    color:magenta;
}
#map{
    width:65vw;
}
#message{
    font-size: 1.4rem;
    color:var(--distarbing-color)
}
/* 追加要素 */
.additionalInfo{
    display: none;
    font-size: 1.2rem;
}
#allergen_info{
    width:100vw;
}
#allergenTable_container{
    overflow-x: scroll;
    background-color: white;
    padding: 20px;
}
#allergenTable_container *{
    font-family: "Noto Sans JP", sans-serif;
}
table{
    width:140vw;
    border-collapse: collapse;
}
thead{
    background-color: #232346;
    color:white;
}
caption{
    font-weight: bold;
}
th, td{
    border:1px solid #999999;
    padding:10px 5px;
}

tbody > tr:nth-of-type(even){
    background-color: #fcfcfc;
}